@{
    ViewBag.Title = "Tanki";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Tanki</h2>


<div>Speed: <span id="speed_display"></span></div>
<div class="stage">

</div>

@section Scripts {
    <script src="~/Scripts/pixi_build/pixi.min.js" type="text/javascript"></script>

    <script src="~/build_gulp/js/tanki.js" type="text/javascript"></script>
}
