
@{
    ViewBag.Title = "Page";
}

@section Scripts { 
    <script src="https://fb.me/react-0.14.0.min.js"></script>
    <script src="https://fb.me/react-dom-0.14.0.min.js"></script>
    <script src="@Url.Content("~/Scripts/react/HelloWorld.jsx")"></script>
}
<h2>Page</h2>



